@charset "utf-8";
h1 {
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30pt;
	font-weight: normal;
	font-style: normal;
}
p {
	font-size: 15pt;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
}
